.Drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 90;
    transform: translateX(0);
    transition: transform .25s ease-in;
}

.Drawer.close {
    transform: translateX(-300px);
    transition: transform .25s ease-out;
}

.Drawer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Drawer ul li {
    margin-bottom: 0;
}

.Drawer ul li a {
    display: block;
    position: relative;
    color: #363f54;
    font-size: 30px;
    text-decoration: none;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding: 15px 10px;
    transition: opacity .3s ease-in;
}

.Drawer ul li a:hover {
    background-color: whitesmoke;
}

.Drawer ul li a.active{
    background-color: orange;
}
